/* ヘッダー */
.nav {
  margin: 2rem 0 2.5rem 0;
}

.navbar {
  align-items: center;
  background: #333;
  display: flex;
  height: 4rem;
  justify-content: space-between;
}

.navbar-brand {
  color: #fff;
}

a.navbar-brand:hover {
  color: #a9a9a9;
  text-decoration: none;
}

.nav-item {
  color: #fff;
}

a.nav-item:hover {
  color: #a9a9a9;
  text-decoration: none;
}

/* フッター */
footer {
  background: #333;
  height: 4rem;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #a9a9a9;
  text-decoration: none;
}

/* ボタン */
.btn-main {
  background: #777;
  color: #fff;
}
.btn-main:hover {
  background-color: #555;
  color: #fff;
}

.btn-follow {
  background: #8d93c8;
  color: #fff;
}
.btn-follow:hover {
  background-color: #a4a8d4;
  color: #fff;
}

.btn-un {
  color: #8d93c8;
  border-color: #8d93c8;
}
.btn-un:hover {
  background-color: #a4a8d4;
  color: #fff;
}

* {
  color: #555;
}
i, a {
  color: #4d4398;
}
i, a:hover{
  color: #8d93c8;
  text-decoration: none;
}